.all {
  width: 100%;
  height: 100%;

  .all_con {
    width: 100%;
    .all_con_tit {
      width: 100%;
      height: 280px;
      p {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 30px;
        text-align: center;
        color: #fff;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .all_con_con {
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
      .all_con_con_tit {
        width: 100%;
        height: 60px;
        h3 {
          line-height: 35px;
          span {
            margin-left: 10px;
            padding: 0 5px;
            font-weight: normal;
            font-size: 15px;
            color: #fff;
          }
        }
        .all_con_con__tit_span {
          padding: 2px 5px;
          border: solid 0.5px rgb(230, 230, 230);
          border-radius: 3px;
          font-size: 12px;
          margin-right: 5px;
          color: rgb(116, 116, 116);
        }
      }
      .all_con_con_price {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h3 {
          color: #ff656b;
          font-size: 20px;
          span {
            color: #ff656b;
            margin-left: 5px;
            font-size: 12px;
          }
        }
        p {
          font-size: 14px;
          line-height: 30px;
          color: rgb(156, 156, 156);
        }
        .all_con_con_price_zuo {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .all_con_con_price_zhong {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 20px;
          border-left: 0.5px solid rgb(224, 224, 224);
          border-right: 0.5px solid rgb(224, 224, 224);
        }
        .all_con_con_price_you {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .all_con_con_address {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        p {
          font-size: 14px;
          margin-left: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .all_con_con_bg {
        width: 100%;
        height: 70px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .all_con_con_bg_con {
          position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          padding: 0 25px;
          color: #fff;
          box-sizing: border-box;
          .all_con_con_bg_con_desc {
            p {
              color: #fff;
              text-align: center;
              &:nth-child(1) {
                font-size: 14px;
                padding: 2px 10px;
                text-align: center;
                border-radius: 25px;
                background-color: #fff;
                color: #ff656b;
              }
              &:nth-child(2) {
                font-size: 12px;
                line-height: 20px;
              }
            }
          }
        }
      }
      .all_con_con_msg {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
  .p {
    border: none;
    // outline: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    line-height: 40px;
    color: #fff;
    width: 100%;
    height: 40px;
    background-color: orange;
  }
}
