.hander {
    width: 100%;
    height: 48px;
    background: linear-gradient(to right,rgb(0, 127, 253),rgb(52, 151, 250),rgb(107, 177, 248));
    color: #fff;
    line-height: 45px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.hand {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.house {
    width: 100%;
    height: 48px;
    background: linear-gradient(to right,rgb(0, 127, 253),rgb(52, 151, 250),rgb(107, 177, 248));
    color: #fff;
    line-height: 48px;
    font-size:16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    position:sticky;
    top:0px;
    z-index: 99;
}
.house b {
    font-size: 16px;
    font-weight: normal;
}

.er {
    margin-left: 18px;
}
.img {
    width: 50px;
    height: 50px;
}
.release {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.used {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    padding: 0 20px;
}
.usedLeft {
    width: 75%;
    height: 65px;
    display: flex;
    margin-top:13px ;
}
.usedLeft dd {
    margin-left: 10px;
    margin-top:6px ;
}
.usedLeft dd b {
    color: black;
}
.usedLeft dd p{
    margin-top: 6px;
    font-size: 12px;
    color: #ccc;
}
.usedRight {
    font-size: 23px;
    color: #cccccc;
}
.fan {
    font-size: 20px;
    color: #fff;
}
.upload {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-sizing: border-box;
    padding: 0 20px;
}
.upload dl dt div{
    width: 65px;
    height: 65px;
    background: #f7f7f7;
    line-height: 75px;
    text-align: center;
    border: 1px dashed #ccc;
}
.upload dl {
    width: 90%;
    height: 60px;
    display: flex;
    margin-top:8px ;
}
.upload dd {
    margin-left: 10px;
}
.upload dd p{
    margin-top: 6px;
    font-size: 12px;
    color: #ccc;
}
.upload dd b {
    color: black;
}
.xiang {
    line-height: 60px;
    font-size: 16px;
    color:#fff;
}
.floor {
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 1px solid #f3f3f3;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
    /* justify-content: space-between; */
}
.floor div{
    width: 45%;
    height: 50px;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
}
.floorRight {
    margin-left: 20px;
}
.floor input {
    width: 50px;
    border: none;
}
.label {
    margin-top: 10px;
}
.reading {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.launch {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch1{
    display: block;
    width: 90%;
    height: 45px;
    color: #fff;
    background: orangered;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 30px;
}
.wrapper {
    width: 80px;
    height: 80px;
}
.add {
    width: 80px;
    height: 80px;
    background: #f7f7f7;
    text-align: center;
    border: 1px dashed #ccc;
    margin-left: 20px;
    padding: 20px 0 0 0;
}
.indoor {
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 20px;
}
.indoor p {
    font-size: 14px;
    color: #ccc;
}
.indoor b {
    font-size: 20px;
}
.picker {
    width: 100%;
    height: 80px;
    margin-left: 20px;
}
.launch2 {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    margin-top: 10px;
}
.launch3{
    display: block;
    width: 90%;
    height: 45px;
    color: #fff;
    background: orangered;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 30px;
}
.over {
    width: 120px;
    height: 140px;
}
.phone {
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 0 0 80px 0;
}
.order {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
}
.order p {
    font-size: 16px;
}
.publish {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 20%;
}
.look{
    width: 45%;
    height: 43px;
    border-radius: 30px;
    background: #fff;
    color: skyblue;
    border: 1px solid skyblue;
}
.goon {
    display: block;
    width: 45%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: 30px;
    background: #1d8bf7;
    color: #fff;
}
.zhong {
    width: 100%;
    height: 15px;
    background: #f7f7f7;
}
.bottom {
    width: 100%;
    height: 140px;
}
.user {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
}
.userRight{
    width: auto;
    height: 50px;
    line-height: 50px;
    color: #ccc;
}
.userLeft {
    width: 85px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userLeft b {
    font-size: 15px;
}
.userLeft img{
    border-radius: 50%;
}
.wire {
    width: 90%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    margin-left: 15px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 15px;
}
.region {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
}
.regionLeft {
    width: 65%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
.bottomright{
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomright .iconOne{
    font-size: 18px;
    margin:  0 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgb(247, 187, 197);
    color: rgb(224, 53, 82);
}
.mou {
    color: coral;
    font-weight: 700;
}
.za-checkbox__input.active {
    border-color: #ff656b;
    background-color: #ff656b;
    color: #fff;
}
:deep(.za-checkbox__input) {
    width: 31%;
    border: 0.5px solid #d8d8d8;
    border-radius: 4px;
    padding: 13px 3px;
    margin-bottom: 13px;
    position: relative;
    color: #666;
    text-align: center;
    overflow: hidden;
}