.login {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.box {
  width: 100%;
  height: 100px;
  background: red;
}
.title{
   font-size:30px;
}
.loginWraper{
  width: 90%;
  height: 100px;
  margin: 10px auto;
  .imgs{
    display: block;
    margin:0 auto;
    

  }
  h3{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
   
  }
  .user,.pwd{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 8px;
    padding-left: 10px;
  }
  .btn{
    margin-top: 20px;
  }

}
