
.house {
    width: 100%;
    height: 48px;
    background: linear-gradient(to right,rgb(0, 127, 253),rgb(52, 151, 250),rgb(107, 177, 248));
    color: #fff;
    line-height: 48px;
    font-size:16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    position:sticky;
    top:0px;
    z-index: 99;
}
.house b {
    font-size: 16px;
    font-weight: normal;
}

.er {
    margin-left: 18px;
}
.img {
    width: 50px;
    height: 50px;
}
.release {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.fan {
    font-size: 20px;
    color: #fff;
}
.upload {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-sizing: border-box;
    padding: 0 20px;
}
.upload dl dt div{
    width: 65px;
    height: 65px;
    background: #f7f7f7;
    line-height: 75px;
    text-align: center;
    border: 1px dashed #ccc;
}
.upload dl {
    width: 90%;
    height: 60px;
    display: flex;
    margin-top:8px ;
}
.upload dd {
    margin-left: 10px;
}
.upload dd p{
    margin-top: 6px;
    font-size: 12px;
    color: #ccc;
}
.upload dd b {
    color: black;
}
.xiang {
    line-height: 60px;
    font-size: 16px;
    color:#fff;
}
.floor {
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 1px solid #f3f3f3;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
    /* justify-content: space-between; */
}
.floor div{
    width: 45%;
    height: 50px;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
}
.floorRight {
    margin-left: 20px;
}
.floor input {
    width: 50px;
    border: none;
}
.label {
    margin-top: 10px;
}
.reading {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.launch {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch1{
    display: block;
    width: 90%;
    height: 45px;
    color: #fff;
    background: orangered;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 30px;
}


.za-checkbox__input.active {
    border-color: #ff656b;
    background-color: #ff656b;
    color: #fff;
}
:deep(.za-checkbox__input) {
    width: 31%;
    border: 0.5px solid #d8d8d8;
    border-radius: 4px;
    padding: 13px 3px;
    margin-bottom: 13px;
    position: relative;
    color: #666;
    text-align: center;
    overflow: hidden;
}