.Collent_header{
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
}
.Hotproperty_con {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  padding: 0 12px;
  box-sizing: border-box;
  dl {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    dt {
      img {
        width: 100px;
        height: 85px;
      }
    }
    dd {
      margin-left: 10px;
      width: 100%;
      height: 85px;
      .Hotproperty_con_status_name {
        font-weight: normal;
        font-size: 12px;
        float: right;
        padding: 1px 3px;
        color: #fff;
      }
      .Hotproperty_con_price {
        color: #fb656a;
        line-height: 30px;
        font-size: 16px;
        font-weight: 900;
        span {
          margin-left: 10px;
          font-size: 10px;
        }
      }
      .Hotproperty_con_type {
        font-size: 10px;
      }
      .Hotproperty_con_kfs {
        font-size: 10px;
        line-height: 30px;
      }
    }
   
  }
  
}
