.swp{
  width: 100%;
  height: 80px !important;
}
.ppp {
  width: 100%;
  height: 40px !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  span {
    width: 30px;
    margin-left: 10px;
    padding: 2px 10px;
    background: pink;
    color: #fff;
  }
  .item {
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;
    line-height: 20px;
  }
}
