@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629632840321') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chazhaofangyuan:before {
  content: "\e629";
}

.icon-map:before {
  content: "\e60f";
}

.icon-shouye:before {
  content: "\e615";
}

.icon-fabu:before {
  content: "\e65a";
}

.icon-map1:before {
  content: "\e65b";
}

.icon-xiaoxi:before {
  content: "\f14d";
}

.icon-fabu1:before {
  content: "\e72f";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-wode:before {
  content: "\e61b";
}

.icon-xinxi:before {
  content: "\f4a9";
}

.icon-buding:before {
  content: "\e60a";
}

.icon-dangao:before {
  content: "\e60b";
}

.icon-chengzhi:before {
  content: "\e60c";
}

.icon-jichi:before {
  content: "\e60d";
}

.icon-hanbao:before {
  content: "\e60e";
}

