.myissue{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .state{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-around;
    
  }
  ul{
    flex: 1;
    overflow: auto;
    li{

      width: 100%;
      height: 110px;
      display: flex;
      margin-top: 5px;
      div{
        margin-left: 5px;
        img{
          width: 110px;
          height: 90px;
         
        }
        p{
          margin-top: 10px;
        }
      }
      

    }
    
  }
}