
.house {
    width: 100%;
    height: 48px;
    background: linear-gradient(to right,rgb(0, 127, 253),rgb(52, 151, 250),rgb(107, 177, 248));
    color: #fff;
    line-height: 48px;
    font-size:16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    position:sticky;
    top:0px;
    z-index: 99;
}
.house b {
    font-size: 16px;
    font-weight: normal;
}

.er {
    margin-left: 18px;
}
.img {
    width: 50px;
    height: 50px;
}
.release {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}

.fan {
    font-size: 20px;
    color: #fff;
}


.label {
    margin-top: 10px;
}
.reading {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.launch {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch1{
    display: block;
    width: 90%;
    height: 45px;
    color: #fff;
    background: orangered;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 30px;
}
.za-checkbox__input.active {
    border-color: #ff656b;
    background-color: #ff656b;
    color: #fff;
}
:deep(.za-checkbox__input) {
    width: 31%;
    border: 0.5px solid #d8d8d8;
    border-radius: 4px;
    padding: 13px 3px;
    margin-bottom: 13px;
    position: relative;
    color: #666;
    text-align: center;
    overflow: hidden;
}