.wraper{
    width: 100%;
    height: 100%;
    background-color: #eee;
    .list{
        width: 100%;
        height: 100%;
        flex-direction: column;
        div{
            width: 100%;
            height:auto;
            display: flex;
            flex-direction: column;
            .tap{
                display: inline-block;
              width:auto;
        
                height:auto;
                padding: 10px;
                line-height:16px;
                overflow: hidden;
            
                
                background-color: rgb(111, 171, 226);
               margin: 20px 100px 20px 20px ;
            
               
                &.class{
                    background-color: #fff;
                   margin: 20px 20px 20px 100px;
                  
    
                }
    
                
            
            }
           
        }
        
        
    }


}