.chatList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .list{
        flex:1;
        overflow-y: scroll;

    }
    .inp{
        width: 100%;
        height: 65px;
        input{
            width:250px;
            height: 40px;
            margin: 8px;
            border: 2px solid #999;
            outline: none;
        }
        i{
          line-height: 65px;
        }
    }

   .nav{
       width: 100%;
       height:auto;
     
       &.nav_left{
           span{
             margin-left: 10px;
           }
       }
       &.nav_right{
           text-align: right;
      
    }
       img{
           width: 60px;
           height: 60px;
           border-radius: 50%;
       }
       span{
           max-width:250px;
           min-height:auto;
           display: inline-block;
           margin:20px 10px;
           line-height: 35px;
           background-color: rgb(24, 143, 24);
           border-radius: 15px;
           b{
               display: block;
           }
       }
       

   }

}