.message{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
    ul{
      width: 100%;
      height: 180px;
     
      background-color: rgb(250, 246, 246);
     
      li{
        width: 100%;
        height: 50px;
        background-color: #fff;
        margin-top: 10px;
        line-height: 50px;
        span{
          margin-left: 40px;
          font-size: 17px;
        }
        i{
          margin-left: 200px;
          font-weight: 800;
        }
      }
    }
  }