.online {
  width: 100%;
  height: 100%;
  .online_header {
    width: 100%;
    height: 44px;
    .online_hhh {
      width: 100%;
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  .online_con {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    .online_con_left {
      width: 100%;
      height: auto;
      background-color: aqua;
      ul {
        width: 90%;
        float: left;
        li {
          float: left;
          position: relative;
          max-width: 80%;
          outline: none;
          min-height: 25px;
          max-height: 200px;
          padding: 0px 10px;
          margin: 7px 0;
          margin-left: 20px;
          margin-right: 5px;
          line-height: 25px;
          box-sizing: border-box;
          border: 1px solid #eee;
          border-radius: 4px;
          display: inline-flex;
          flex-wrap: wrap;
          font-size: 16px;
          background-color: yellowgreen;
        }
        li:before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: -10px;
          width: 0px;
          height: 20px;
          z-index: -1;
          border-left: 20px solid yellowgreen;
          border-bottom-left-radius: 18px;
        }
        li:after {
          content: "客服";
          position: absolute;
          bottom: -2px;
          left: -30px;
          width: 80px;
          height: 20px;
          z-index: 1;
          border-bottom-left-radius: 18px;
        }
      }
    }
    .online_con_right {
      ul {
        width: 90%;
        float: right;
        li {
          color: #fff;
          float: right;
          position: relative;
          max-width: 80%;
          outline: none;
          min-height: 25px;
          max-height: 200px;
          padding: 0px 10px;
          margin: 7px 0;
          margin-left: 5px;
          margin-right: 20px;
          line-height: 25px;
          box-sizing: border-box;
          border: 1px solid #eee;
          border-radius: 4px;
          display: inline-flex;
          flex-wrap: wrap;
          font-size: 16px;
          background-color: yellowgreen;
        }
        li:before {
          content: "";
          position: absolute;
          bottom: -2px;
          right: -10px;
          width: 0px;
          height: 20px;
          z-index: -1;
          border-right: 20px solid yellowgreen;
          border-bottom-left-radius: 18px;
        }
        li:after {
          content: "我fgdsfd";
          position: absolute;
          bottom: -2px;
          right: -20px;
          width: 0px;
          height: 20px;
          z-index: 1;
          border-right: 20px solid white;
          border-bottom-left-radius: 18px;
        }
      }
    }
  }
  .online_inp {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
