.question {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  .phone {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    background-color: #fff;
    p {
      color: #ccc;
      font-size: 16px;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    input {
      width: 100%;
      height: 60px;
      border: none;
      margin-left: 10px;
    }
  }
  .content {
    width: 100%;
    margin-top: 15px;
    font-size: 17px;
    background-color: #fff;
  }
  a {
    width: 70%;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 60px;
  }
}
