.search {
  width: 100%;
  height: 100%;
  .sss{
    width: 100%;
    height: 100px;
  }
  .tit {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    .tit_top {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-left: 20px;
      }
      b {
        margin-right: 20px;
      }
    }
    .tit_search {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  .con {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    dl {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      dt {
        img {
          width: 100px;
          height: 85px;
        }
      }
      dd {
        margin-left: 10px;
        width: 100%;
        height: 85px;
        .Hotproperty_con_status_name {
          font-weight: normal;
          font-size: 12px;
          float: right;
          padding: 1px 3px;
          color: #fff;
        }
        .Hotproperty_con_price {
          color: #fb656a;
          line-height: 30px;
          font-size: 16px;
          font-weight: 900;
          span {
            margin-left: 10px;
            font-size: 10px;
          }
        }
        .Hotproperty_con_type {
          font-size: 10px;
        }
        .Hotproperty_con_kfs {
          font-size: 10px;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
