$nav-color: rgb(241, 100, 100);
.broker {
  width: 100%;
  height: 100%;
  .Collent_header {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .search {
    width: 100%;
    height: 260px;
    // background-color: $nav-color;
    padding-top: 10px;

    .inp {
      display: block;
      width: 85%;
      height: 35px;
      margin: 0px auto;
      background-color: rgba(255, 255, 255, 0.5);
      color: aliceblue;
      border: none;
      outline: none;
    }
    .line {
      width: 90%;
      height: 185px;
      margin: 0 auto;
      margin-top: 30px;
      span {
        display: inline-block;
        width: 108px;
        height: 133px;
        background-color: #fff;
        margin-top: 28px;
        margin-left: 3px;
        border-radius: 9px 9px 0 0;
        position: relative;
        &:nth-child(2) {
          width: 110px;
          height: 153px;
          padding-top: 20px;
          padding-bottom: 30px;
        }
        .imgs {
          display: inline-block;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin: 20px 20px;
        }
        i {
          position: absolute;
          top: -7px;
          left: 33px;
        }
        b {
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }
}
.list {
  width: 100%;
  height: auto;
  padding-top: 10px;

  .title {
    width: 90%;
    height: 30px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #eee;
    color: #fff;
    span {
      flex: 1;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 16px;
      &.class {
        border-radius: 20px;
        background-color:none;
      }
      &.classfirst{
        border-radius: 20px;
        background-color:rgb(241, 100, 100) 

      }
      &.classsecond {
        border-radius: 20px;
        background-color: rgb(0, 202, 167);
      }
      &.classthird {
        border-radius: 20px;
        background-color:rgb(76, 199, 246);
      }
     
    }
  }
  .brokerList {
    width: 100%;
    height: auto;
    margin-top: 10px; 
    padding: 0 12px;
    box-sizing: border-box;
    li {
      width: 100%;
      height: 100px;
      display: flex;
      margin: 0 auto;
      background-color: #fff;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        left: 0;
        right: 0;
        top: 100%;
        background: #ccc;
        transform: scaleY(0.5);
      }

      .code {
        display: inline-block;
        flex: 1;
        line-height: 80px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
      .la {
        display: inline-block;
        flex: 2;
        .userImg {
          display: inline-block;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin: 10px 20px;
        }
      }
      .con {
        display: inline-block;
        flex: 4;
        height: 90px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        -wekit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .ra {
        display: inline-block;
        flex: 3;
        line-height: 80px;
      }
    }
  }
}
