.container {
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to right, rgb(10, 121, 242), rgb(50, 158, 253));

        h3 {
            text-align: center;
            font-weight: 100;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding: 20px;
            font-family: 黑体;
        }
    }

    .con {
        flex: 1;

        .box {
            background-color: #fff;
            height: 360px;
            margin-bottom: 8px;
            padding: 0 24px;

            .itemIssue {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                align-items: center;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                padding: 12px 0;

                .info {
                    margin-left: 10px;
                    flex: 1;

                    p:nth-child(1) {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }

                    p:nth-child(2) {
                        font-size: 11px;
                        color: #999;
                    }
                }
                .color {
                    color: #ccc;
                    font-size: 25px;
                }
            }

            .itemIssue>img {
                width: 48px;
                height: 48px;
            }
        }
    }
}