.select {
  user-select: none;
  position: relative;
  z-index: 200;
}
.selectarea {
  position: absolute;
  top: 35px;
  background: #f9f9f9;
  height: 130px;
  z-index: 2000;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  animation: select 0.5s linear;
  span {
    display: block;
    width: 100%;
    height: 30px;
    text-indent: 10px;
    line-height: 30px;
    font-size: 14px;
  }
}

.selectcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333;
  font-size: 14px;
}

@keyframes select {
  0% {
    height: 0;
  }
  100% {
    height: 130px;
  }
}
