.erall {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  dl {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    dt {
      img {
        width: 100px;
        height: 85px;
      }
    }
    dd {
      margin-left: 10px;
      width: 100%;
      height: 85px;
      .erall_tit {
        width: 100%;
        margin-bottom: 5px;
      }
      .erall_label {
        width: 80%;
        height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .erall_name {
          font-size: 13px;
          padding: 1px 3px;
          border: solid 0.5px;
          margin-right: 8px;
        }
      }
      ul {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          &:nth-of-type(1) {
            font-style: 90px;
            color: red;
            font-weight: 900;
            span {
              font-weight: normal;
              font-size: 13px;
              margin-left: 5px;
              color: #000;
            }
          }
          &:nth-of-type(2) {
            font-size: 13px;
            line-height: 30px;
            color: rgb(161, 161, 161);
          }
          &:nth-of-type(3) {
            font-size: 13px;
            line-height: 30px;
            margin-right: 20px;
            color: rgb(161, 161, 161);
          }
        }
      }
    }
  }
}
