.wanted{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .box{
    width: 100%;
    flex: 1;
    position: relative;
    overflow: auto;
   
  }

  .pop{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #000;
  }
  .flutter{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    z-index: 99;
    
  }
  li{
    width: 90%;
    height: 30px;
    border-bottom: 0.5px solid #ccc;
    line-height: 30px;
    margin-left: 20px;
  }
  .mask{
    position: absolute;
   
    display: block;
    width: 100%;
    height: 100%;
   
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
  }
 .content{
   width: 100%;
  position: absolute;
  top: 50px;
  z-index: 0;
  background-color: #eee;
  .list{
    width: 100%;
    height: 180px;
    margin-top: 10px;
    background-color: #fff;
    .lis{
     
      display: flex;
      justify-content:space-around;
      align-items: center;
      
     
      .images{
        display: flex;
        margin-right: 20px;
        align-items: center;
        b{
          margin-left: 10px;
          font-size: 18px;
        }
        
      }
      img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
       
      }
     
    }
    p{
      height: 40px;
      font-size: 18px;
      margin: 5px 30px;
     
      border-bottom: 1px solid #eee;
    }
    span{
      
      margin-left: 25px;
      font-size: 13px;
      color: #ccc;
      b{
        color: orangered;
      }
    }
    i{
      display: inline-block;
      font-size: 20px;
      width: 30px;
      height: 30px;border-radius: 30px;
      background-color: pink;
      color: rgb(212, 121, 212);
      text-align: center;
      line-height: 30px;
      margin-left: 5px;
    }
  }
 }
}