@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1630410070460') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crown:before {
  content: "\e6b9";
}

.icon-guanjun:before {
  content: "\e6b1";
}

.icon-icon-test:before {
  content: "\e635";
}

.icon-icon-test1:before {
  content: "\e643";
}

.icon-guanjun1:before {
  content: "\e65d";
}

.icon-yajun:before {
  content: "\e65f";
}

.icon-jijun:before {
  content: "\e68c";
}

.icon-user:before {
  content: "\e99e";
}

.icon-yajun1:before {
  content: "\e672";
}

.icon-jijun1:before {
  content: "\e608";
}

.icon-biaoqing:before {
  content: "\e501";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-back:before {
  content: "\e603";
}

.icon-fanhui1:before {
  content: "\e518";
}

.icon-yuyin:before {
  content: "\e656";
}

