.mapnav2 {
  width: 100%;
  height: 50px;
  position: relative;
  font-size: 14px;
  color: #333;
  user-select: none;
  z-index: 30;
  background: #fff;
  // overflow: hidden;
  .mapnavcon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    &::before {
      content: "";
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      box-sizing: border-box;
      background: #000;
      transform: scaleY(0.5);
    }
    &::after {
      content: "";
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
      background: #000;
      transform: scaleY(0.5);
    }
  }
  .setion {
    height: 100%;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .active {
      color: gold;
    }
  }
}

.selectarea {
  width: 100%;
  top: 50px;
  left: 0;
  background: #fff;
  line-height: 30px;
  text-indent: 10px;
  position: absolute;
  .navleft {
    width: 50%;
    height: 100%;
    overflow: auto;
    background: #f9f9f9;
    float: left;
  }
  .navright {
    width: 50%;
    height: 100%;
    background: #f6f6f6;
    overflow: auto;
    float: right;
  }
  .active {
    color: red;
  }
}

.price {
  width: 100%;
  top: 50px;
  left: 0;
  background: #fff;
  position: absolute;
  flex-direction: column;
  .priceselect {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    li {
      width: 100%;
      font-weight: bold;
      color: #666;
      text-align: center;
    }
    .active {
      color: red;
    }
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background: #000;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleY(0.5);
      box-sizing: border-box;
    }
  }
}

.range {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  .pri {
    width: 100%;
    text-align: center;
    line-height: 80px;
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.housetype {
  width: 100%;
  top: 50px;
  left: 0;
  background: #fff;
  line-height: 30px;
  position: absolute;
  flex-direction: column;
  align-items: center;

  .ht {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .active {
      background: orange;
      color: #fff;
    }
    h3 {
      color: #666;
      line-height: 40px;
    }
    div {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      span {
        display: inline-block;
        padding: 0 10px;
        color: #666;
        background: #eee;
        border-radius: 5px;
        margin: 0 10px;
      }
    }
  }
  .type {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .active {
      background: orange;
      color: #fff;
    }
    h3 {
      color: #666;
      line-height: 40px;
    }
    div {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      span {
        display: inline-block;
        padding: 0 10px;
        color: #666;
        margin: 5px 20px;
        background: #eee;
        border-radius: 5px;
      }
    }
  }
}

.filters {
  width: 100%;
  top: 50px;
  left: 0;
  background: #fff;
  line-height: 30px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  .verify {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .active {
      background: orange;
      color: #fff;
    }
    h3 {
      color: #666;
      line-height: 40px;
    }
    div {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      span {
        display: inline-block;
        padding: 0 10px;
        color: #666;
        background: #eee;
        border-radius: 5px;
        margin: 0 5px;
      }
    }
  }
  .ori {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .active {
      background: orange;
      color: #fff;
    }
    h3 {
      color: #666;
      line-height: 40px;
    }
    div {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      span {
        display: inline-block;
        padding: 0 20px;
        color: #666;
        margin: 5px 15px;
        background: #eee;
        border-radius: 5px;
      }
    }
  }
}

.distance {
  width: 100%;
  top: 50px;
  left: 0;
  background: #fff;
  line-height: 30px;
  position: absolute;
  z-index: 190;
  flex-direction: column;
  padding: 5px 0;
  text-indent: 5px;
  overflow: auto;
}

.sort {
  width: 100%;
  left: 0;
  background: #fff;
  line-height: 40px;
  position: absolute;
  z-index: 190;
  flex-direction: column;
  padding: 5px 0;
  overflow: auto;
  li {
    text-align: center;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      top: 100%;
      background: #ccc;
      transform: scaleY(0.5);
    }
  }
}
