.InteractiveMsg_wraper {
  width: 100%;
  height: 100%;

  .top {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    .tap {
      display: inline-block;
      font-size: 20px;
      flex: 1;
      text-align: center;
      color: rgb(24, 23, 23);
    }
    .class {
      color: rgb(79, 128, 233);
    }
  }
  .list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
    .item {
      width: 100%;
      height: 90px;
      background-color: #fff;
      margin: 10px 0;
      display: flex;

      .user_img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 4px;
      }
      .userInfo {
        width: 200px;
        line-height: 40px;
        font-size: 16px;
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .time {
        width: 80px;
        line-height: 80px;
        text-align: center;
      }
    }
  }
}
