.all {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .main {
    flex: 1;
    overflow-y: hidden;
  }
  .footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 2;
    i {
      font-size: 20px;
    }
    a {
      justify-content: center;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      height: 100%;
    }
    .active {
      color: orange;
    }
  }
}

// @media screen and (device-height:640px){
//   .all{
//     height: 640px;
//   }
// }

// @media screen and (device-height:568px){
//   .all{
//     height: 568px;
//   }
// }