.Payment {
  width: 100%;
  height: 100%;
}
.parment-list {
  width: 100%;
  height: 60px;
  background: #eee;
  line-height: 30px;
  padding-left: 15px;
  color:#999;   
}
.p{
    font-size: 15px;
    color:#999;
}
.interaction-lists {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
  }
  .cyan-lists {
    background: #fff;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 10px 0;
    dl {
      width: 80%;
      display: flex;
      dt {
        width: 50px;
        height: 50px;
  
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      dd {
        margin-left: 8px;
        flex: 1;
        line-height: 25px;
      }
    }
    .hours {
      flex: 1;
    }
  }