
.house {
    width: 100%;
    height: 48px;
    background: linear-gradient(to right,rgb(0, 127, 253),rgb(52, 151, 250),rgb(107, 177, 248));
    color: #fff;
    line-height: 48px;
    font-size:16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    position:sticky;
    top:0px;
    z-index: 99;
}
.house b {
    font-size: 16px;
    font-weight: normal;
}

.er {
    margin-left: 18px;
}
.img {
    width: 50px;
    height: 50px;
}
.release {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}
.used {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    padding: 0 20px;
}
.fan {
    font-size: 20px;
    color: #fff;
}

.over {
    width: 120px;
    height: 140px;
}
.phone {
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 0 0 80px 0;
}
.order {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
}
.order p {
    font-size: 16px;
}

.look{
    width: 45%;
    height: 43px;
    border-radius: 30px;
    background: #fff;
    color: skyblue;
    border: 1px solid skyblue;
}
.goon {
    display: block;
    width: 45%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: 30px;
    background: #f7501d;
    color: #fff;
}
.za-checkbox__input.active {
    border-color: #ff656b;
    background-color: #ff656b;
    color: #fff;
}
:deep(.za-checkbox__input) {
    width: 31%;
    border: 0.5px solid #d8d8d8;
    border-radius: 4px;
    padding: 13px 3px;
    margin-bottom: 13px;
    position: relative;
    color: #666;
    text-align: center;
    overflow: hidden;
}
.publish {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 20%;
}