.mapsearch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.mapnav1 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 101;
  background-color: #fff;
}
.searchtit {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  .search {
    margin-left: 10px;
    width: 60%;
    height: 60%;
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    input {
      width: 80%;
      height: 60%;
      border: none;
      outline: none;
      background: #eee;
    }
    input::placeholder {
      font-size: 12px;
    }
  }
}

.search::before {
  content: "";
  position: absolute;
  border: 1px solid #666;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  box-sizing: border-box;
  z-index: -1;
}

.choice {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  .active {
    color: red;
  }
}

.selectbox {
  background: #fff;
}

.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
