.buyhouse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.bhnav1 {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  position: relative;
  z-index: 101;
  background: #fff;
  .bhsearchtit {
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    background: #fff;
    .bhsearch {
      flex: 0.9;
      height: 60%;
      background: #eee;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        border: 1px solid #666;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        box-sizing: border-box;
      }
      input {
        width: 80%;
        border: none;
        outline: none;
        background: #eee;
      }
    }
    .bhmapfh {
      line-height: 40px;
      margin-right: 5px;
    }
  }
  .bhchoice {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    .active {
      color: red;
    }
  }
}
.fix {
  z-index: 2;
}

.bhouse {
  width: 100%;
  flex: 1;
  overflow: hidden;
  .bhcon {
    width: 100%;
    height: auto;
    dl {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      dt {
        img {
          width: 100px;
          height: 85px;
        }
      }
      dd {
        margin-left: 10px;
        width: 100%;
        height: 85px;
        .Hotproperty_con_status_name {
          font-weight: normal;
          font-size: 12px;
          float: right;
          padding: 1px 3px;
          color: #fff;
        }
        .Hotproperty_con_price {
          color: #fb656a;
          line-height: 30px;
          font-size: 16px;
          font-weight: 900;
          span {
            margin-left: 10px;
            font-size: 10px;
          }
        }
        .Hotproperty_con_type {
          font-size: 10px;
        }
        .Hotproperty_con_kfs {
          font-size: 10px;
          line-height: 30px;
        }
      }
    }
  }
}
