.findhouse {
  width: 100%;
  height: 100%;
  user-select: none;
  // overflow: hidden;
}
.fhheader {
  width: 100%;
  height: 20px;
  background-color: royalblue;
  position: relative;
}

.fhcontainer {
  width: 100%;
}

.helpmefh {
  width: 320px;
  height: 300px;
  position: absolute;
  top: 0;
  left: calc(50% - 160px);
  background: #fff;
  border-radius: 10px;
  box-shadow: -5px 5px 5px #ccc;
}

.helptit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-image: linear-gradient(#e4697d, #fff);
  color: #e03a56;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.helpcon {
  width: 90%;
  height: 220px;
  margin: 0 auto;
  p {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666;
    span {
      margin-left: 5px;
    }
  }
}

.helpcity {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    top: 100%;
    background: #ccc;
    transform: scaleY(0.5);
  }
  input {
    margin-left: 10px;
    width: 100%;
    border: none;
    outline: none;
    &::placeholder {
      color: #333;
    }
  }
}

.helpinfo {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  input {
    width: 80%;
    border: none;
    outline: none;
  }
  .helpname,
  .helpphone {
    height: 40px;
    line-height: 40px;
    flex: 0.5;
    text-align: center;
  }
  .helpphone {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      left: 0;
      top: 0;
      bottom: 0;
      background: #ccc;
      transform: scaleY(0.5);
    }
  }
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    top: 100%;
    background: #ccc;
    transform: scaleY(0.5);
  }
}

.helpbtn {
  margin-top: 10px;
  width: 100%;
}

.helpnum {
  width: 100%;
  line-height: 26px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #d16c7d;
  color: #d16c7d;
  margin-top: 10px;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  height: 280px;
}

.options {
  width: 320px;
  height: 100px;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.option {
  height: 44px;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helpoption {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .opleft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      color: #666;
      font-size: 14px;
      font-weight: bold;
    }
    p {
      font-size: 12px;
    }
  }
  i {
    display: block;
    height: 100%;
    width: 30px;
  }
}

.option1 {
  background: rgba(255, 248, 220, 0.6);
  p {
    color: rgb(216, 98, 161);
  }
  i {
    background: rgb(216, 98, 161);
  }
}
.option4 {
  background: rgba(255, 248, 220, 0.6);
  p {
    color: rgb(238, 232, 153);
  }
  i {
    background: rgb(238, 232, 153);
  }
}
.option2 {
  background: rgba(196, 236, 236, 0.6);
  p {
    color: rgb(98, 179, 216);
  }
  i {
    background: rgb(98, 179, 216);
  }
}
.option3 {
  background: rgba(196, 236, 236, 0.6);
  p {
    color: rgb(85, 226, 167);
  }
  i {
    background: rgb(85, 226, 167);
  }
}
