.home {
  width: 100%;
  height: 100%;
  .home_con {
    padding: 5px 10px;
    box-sizing: border-box;
    .home_list {
      width: 100%;
      height: 200px;
      .home_list_con {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 70px;
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
          }
          b {
            margin-top: 10px;
          }
        }
      }
    }
    .advisory {
      width: 100%;
      height: 230px;
      .advisory_top {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .advisory_con {
        width: 100%;
        height: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 0.5px solid #ccc;
        box-shadow: -2px -2px 10px rgb(192, 192, 192);
        .advisory_con_tit {
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 18px;
          span {
            margin-left: 10px;
            font-size: 12px;
          }
          .advisory_con_tit_zuo {
            flex: 1;
            text-align: center;
            border-right: 0.5px solid rgb(230, 230, 230);
            p {
              color: #ccc;
              font-size: 12px;
            }
          }
          .advisory_con_tit_you {
            flex: 1;
            text-align: center;
            p {
              color: #ccc;
              font-size: 12px;
            }
          }
        }
        .advisory_con_box {
          width: 100%;
          height: 80px !important;   
        }
      }
    }
    .Hotproperty {
      width: 100%;
      .Hotproperty_top {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .Hotproperty_con {
        width: 100%;
        height: auto;
        dl {
          width: 100%;
          height: 120px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          dt {
            img {
              width: 100px;
              height: 85px;
            }
          }
          dd {
            margin-left: 10px;
            width: 100%;
            height: 85px;
            .Hotproperty_con_status_name {
              font-weight: normal;
              font-size: 12px;
              float: right;
              padding: 1px 3px;
              color: #fff;
            }
            .Hotproperty_con_price {
              color: #fb656a;
              line-height: 30px;
              font-size: 16px;
              font-weight: 900;
              span {
                margin-left: 10px;
                font-size: 10px;
              }
            }
            .Hotproperty_con_type {
              font-size: 10px;
            }
            .Hotproperty_con_kfs {
              font-size: 10px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
