.floorWraper{
    width: 100%;
    height: 100%;

    .list{
        width: 100%;
        height: 100%;

        li{
            width: 100%;
            height:auto;
            display: flex;
            flex-direction: column;
            padding: 10px;
              .top{
                  width: 100%;
                  height:80px;
                  display: flex;
                  .la{
                      flex: 2;
                      .imgs{
                          width: 60px;
                          height: 60px;
                          border-radius: 50%;

                      }
                  }
                  .con{
                      flex: 5;
                      line-height: 30px;
                      font-size: 14px;
                      .con_top{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                      .con_bot{
                          font-size: 12px;
                          color: rgb(128, 119, 119);
                      }
                  }
                  .ra{
                      flex:3;
                        .but{
                            
                            display: inline-block;
                          
                        } 
                  }
              }
              .bot{
                  width: 100%;
                  height:auto;
                  margin-top: 10px;
                  display: flex;
                  .left{
                      flex: 2;
                  }
                  .right{
                      flex: 8;
                      position: relative;
                      &::after {
                        position: absolute;
                        content: "";
                        height: 1px;
                        left: 0;
                        right: 0;
                        top: 100%;
                        background: #ccc;
                        transform: scaleY(0.5);
                        
                      }
                      .imgMsg{
                          .imgPath{
                              width: 85px;
                              height: 130px;
                              margin: 0 3px;
                              
                          }

                          
                      }

                  }
                 
              }
              

        }

    }
}