.my {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .heard {
    width: 100%;
    height: 200px;
    background-color: #6491f1;
    text-align: center;

    b {
      color: #fff;
      line-height: 80px;
      font-size: 18px;
    }
  }
  .float {
    width: 85%;
    height: 160px;
    position: absolute;
    color: black;
    border-radius: 10px;
    top: 80px;
    left: 30px;
    background-color: #fff;
    z-index: 999;
    border: 0.5px solid #eee;
    box-shadow: 0px 5px 5px #ccc;
    .up {
      width: 90%;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      // border-bottom: 0.5px solid #eee;
      margin-left: 12px;
      box-shadow: 0px 1px 0px #eee;
      .la {
        line-height: 30px;
      }
      .imgs {
        width: 150px;
        height: 100%;
      }
    }
  }
  .bottom {
    width: 100%;
    position: relative;
    flex: 1;
    background-color: #fff;
    .content {
      border-radius: 100px/15px;
      width: 100%;
      position: absolute;
      height: 430px;
      bottom: 0;
      padding-top: 30px;
      background-color: #fff;
      .title {
        margin-top: 10px;
        .sale {
          font-weight: 700;
          font-size: 20px;
          padding: 10px 20px;
        }
        span {
          padding: 0, 30px;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .bottom{
      width: 100%;
      position: relative;
      flex: 1;
      background-color: #fff;
      .content{
        border-radius: 100px/15px;
        padding-top: 100px;
        width: 100%;
        position: absolute;
        height: 430px;
        bottom: 0;
        background-color: #fff;
        .title{
            margin-top: 10px;
            .sale{
              font-weight:700;
              font-size: 20px;
              padding:10px 20px;
            }
            span{
                padding:0, 30px;
                font-size: 20px;
                font-weight:500;
            }
        }
        .right {
          flex: 1;
          height: 100%;
          line-height: 25px;
          span {
            font-size: 15px;
          }
          b {
            display: block;
            font-size: 20x;
            color: #f00;
          }
        }
      }
    }
    .footer{
      width: 100%;
      height:80px;
      display: flex;
      justify-content:center;
    @mixin  btn{
        width: 130px;
        height: 40px;
        border: none;
        color: #eee;
        font-size: 14px;
    }
     .btn1{
       @include btn();
      background-color: rgb(245, 107, 16);
       border-radius: 20px 0 0 20px;
      }
      .btn2{
        @include btn();
        background-image: linear-gradient(to right, red , rgb(255, 60, 0));
        border-radius: 0 20px 20px 0;
      }
    }
    
  }
}