.container {
  width: 100%;
  // height: 300px;
  flex: 1;
  position: relative;
}
.map {
  width: 100%;
  height: 100%;
}

.posi {
  width: 180px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  font-size: 12px;
  box-shadow: -1px 3px 5px #ebbfec;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 90;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 5px;
  // color: #ebbfec;
}
.posi::-webkit-scrollbar {
  display: none;
}
