.erall {
  width: 100%;
  height: 100%;
  .erall_header {
    width: 100%;
    height: 44px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
  }
  .erall_con {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
