.detail{
  width: 100%;
  height: 100%;
  
 div{
  p{
    margin: 20px;
    display: flex;
    justify-content: space-around;
  }
  h2{
    margin-left: 10px;
    margin-top: 30px;
  }
  nav{
    font-size: 15px;
    color: rgb(190, 187, 187);
    margin-top: 14px;
    margin-left: 5px;
  }
  li{
  
   margin: 15px;
    text-align: center;
  }
  i{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: rgb(231, 206, 159);
    color: orange;
    margin-left: 60px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
  }
  h3{
    margin: 15px;
  }
 }
 .newcontent{
   width: 95%;
   margin-left: 10px;
   height: 110px;
   border-bottom: 0.5px solid #ccc;
   display: flex;
  
   align-items: center;
   img{
     width: 130px;
     height: 100px;
     border-radius: 10px;
   }
 }

}