* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
// @supports (
//     (height: constant(safe-area-inset-top)) or
//       (height: env(safe-area-inset-top))
//   )
//   and (-webkit-overflow-scrolling: touch) {
//   body {
//     padding-bottom: constant(safe-area-inset-bottom);
//     //IOS版本>=11.2
//     padding-bottom: constant(safe-area-inset-bottom);
//   }
// }
