.my{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .heard{
    width: 100%;
    height: 200px;
    background-color: #6491f1;
    text-align: center;
    b{
     color: #fff;
     line-height: 80px;
     font-size: 18px;
    }
  }
  .float{
    width: 85%;
    height: 160px;
    position: absolute;
    color:black;
    border-radius: 10px;
    top: 80px;
    left: 30px;
    background-color: #fff;
    z-index: 999;
    border: 0.5px solid #eee;
    box-shadow:0px 5px 5px #ccc;
    .up{
      
      width: 90%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 0.5px solid #eee;
      margin-left: 12px;
      box-shadow:0px 1px 0px #eee;
     p{
      
       line-height: 30px;
       
       img{
         width: 50px;
         height: 50px;
         border-radius: 50px;
        
         
       }
       b{
         display: block;
       }
       
     }
     .p{
      margin-right: 35px;
    
    }
    p{
      i{
        font-size: 20px;
      }
    }

    }
    .down{
      width: 100%;
      
      display: flex;
      justify-content: space-around;
      align-items: center;
      p{
        text-align: center;
        line-height: 20px;
        margin-top: 10px;
        i{
          display: block;
          width: 60px;
          height: 40px;
          font-size: 30px;
        }
        
        width: 70px;
         
      }
      
    }
  }
  .bottom{
    width: 100%;
    position: relative;
    flex: 1;
    background-color: #6491f1;
    
    .content{
      border-radius: 100px/15px;
      width: 100%;
      position: absolute;
      // height: 480px;
      bottom: 0;
      background-color: #fff;
     
    }
    ul{
      width: 100%;
      height: 180px;
      margin-top: 60px;
      background-color: rgb(250, 246, 246);
      
      li{
        width: 100%;
        height: 50px;
        background-color: #fff;
        margin-top: 10px;
        line-height: 50px;
        span{
          margin-left: 40px;
          font-size: 17px;a{
            color: #000;
          }
        }
        i{
          margin-left: 200px;
          font-weight: 800;
        }
      }
    }
  }
  
}